spark.seqLimit 4
spark.hiveLimit 4
spark.esLimit 4
spark.seqSleepTime 15000
spark.hiveSleepTime 15000
spark.esSleepTime 15000
spark.timeInterval 60
spark.seqTimeInterval 60
spark.hiveTimeInterval 60
spark.esTimeInterval 60
spark.repartition 40
spark.CURRENT_ENVIRONMENT UAT
spark.POSTGRES_CONN_URL jdbc:postgresql://10.20.40.218:5432/dmat_uat?currentSchema=dmat&user=postgres&password=postgres123
spark.POSTGRES_CONN_SDE_URL jdbc:postgresql://10.20.40.218:5432/dmat_uat?currentSchema=sde&user=postgres&password=postgres123&socketTimeout=5
spark.POSTGRES_DRIVER org.postgresql.Driver
spark.POSTGRES_DB_URL jdbc:postgresql://10.20.40.218:5432/dmat_uat?currentSchema=dmat
spark.POSTGRES_DB_SDE_URL jdbc:postgresql://10.20.40.218:5432/dmat_uat?currentSchema=sde
spark.POSTGRES_DB_USER postgres
spark.POSTGRES_DB_PWD postgres123
spark.HIVE_HDFS_PATH hdfs://10.20.50.10:8020/apps/hive/warehouse/dmat_logs.db/
spark.HDFS_FILE_DIR_PATH hdfs://10.20.50.10:8020/oneparser/data/dmat/staging/
spark.HDFS_URI hdfs://10.20.50.10:8020
spark.HIVE_DB dmat_logs.
spark.TBL_QCOMM_NAME LogRecord_QComm_Ext
spark.TBL_QCOMM2_NAME LogRecord_QComm2_Ext
spark.TBL_B192_NAME LogRecord_B192_Ext
spark.TBL_B193_NAME LogRecord_B193_Ext
spark.TBL_ASN_NAME LogRecord_ASN_Ext
spark.TBL_NAS_NAME LogRecord_NAS_Ext
spark.TBL_IP_NAME LogRecord_IP_Ext
spark.TBL_QCOMM5G_NAME LogRecord_QComm_5G_Ext
spark.ES_HOST_PATH 10.20.40.28
spark.ES_PORT_NUM 9204
spark.DM_USER_DUMMY 10062

spark.ZOOKEEPER_HOSTS 127.0.0.1:2181
spark.BOOTSTRAP_SERVERS 127.0.0.1:9092
spark.MAX_OFFSETS_PER_TRIGGER 5
spark.STARTING_OFFSETS earliest
spark.KAFKA_GROUP_ID DMAT
spark.INGESTION_KAFKA_TOPIC logs
spark.NOTIFICATION_KAFKA_TOPIC logsnotification
spark.PROCESS_PARAM_VALUES_KAFKA_TOPIC processparamvalues
spark.HIVE_KAFKA_TOPIC logshive
spark.ES_KAFKA_TOPIC logses
spark.SCHEMA_REGISTRY_URL http://127.0.0.1:8081
spark.PARAM_VALUE_SCHEMA_REGISTRY_ID latest
spark.CHECKPOINT_LOCATION checkpoints
spark.WRITE_SEQ_TO_HDFS_CHECKPOINT_SEGMENT write_seq_to_hdfs
spark.READ_SEQ_TO_HIVE_CHECKPOINT_SEGMENT read_seq_to_hive
spark.PROCESS_DMAT_RECORDS_CHECKPOINT_SEGMENT process_dmat_records
spark.LOG_LEVEL WARN