spark.CURRENT_ENVIRONMENT DEV
spark.HDFS_FILE_DIR_PATH hdfs://host.docker.internal:9000/oneparser/data/dmat/staging/
spark.HDFS_URI hdfs://host.docker.internal:9000
spark.ZOOKEEPER_HOSTS localhost:2181
spark.BOOTSTRAP_SERVERS localhost:9092
spark.MAX_OFFSETS_PER_TRIGGER 1
spark.STARTING_OFFSETS earliest
spark.KAFKA_GROUP_ID DMAT
spark.INGESTION_KAFKA_TOPIC logs
spark.NOTIFICATION_KAFKA_TOPIC ns
spark.PROCESS_PARAM_VALUES_KAFKA_TOPIC process
spark.HIVE_KAFKA_TOPIC hiveprocessor
spark.ES_KAFKA_TOPIC elastic
spark.SCHEMA_REGISTRY_URL http://localhost:8081
spark.PARAM_VALUE_SCHEMA_REGISTRY_ID latest
spark.CHECKPOINT_LOCATION file:////checkpoints
spark.WRITE_SEQ_TO_HDFS_CHECKPOINT_SEGMENT write_seq_to_hdfs
spark.READ_SEQ_TO_HIVE_CHECKPOINT_SEGMENT read_seq_to_hive
spark.PROCESS_DMAT_RECORDS_CHECKPOINT_SEGMENT process_dmat_records
spark.LOG_LEVEL WARN
spark.PATH_TO_CORE_SITE file:////HadoopConf/core-site.xml
spark.PATH_TO_HDFS_SITE file:////HadoopConf/hdfs-site.xml
spark.PRIORITY_TIME_INTERVAL 6