spark.seqLimit 5
spark.hiveLimit 1
spark.esLimit 1
spark.seqSleepTime 15000
spark.hiveSleepTime 15000
spark.esSleepTime 15000
spark.timeInterval 24
spark.seqTimeInterval 48
spark.hiveTimeInterval 48
spark.esTimeInterval 48
spark.repartition 1000
spark.writeToHdfsRepartition 100

spark.CURRENT_ENVIRONMENT DEV
spark.POSTGRES_CONN_URL jdbc:postgresql://op-postgres-postgresql:5432/postgres?currentSchema=dmat_qa&user=postgres&password=pw
spark.POSTGRES_CONN_SDE_URL jdbc:postgresql://op-postgres-postgresql:5432/postgres?currentSchema=sde&user=postgres&password=pw&socketTimeout=5
spark.POSTGRES_DRIVER org.postgresql.Driver
spark.POSTGRES_DB_URL jdbc:postgresql://op-postgres-postgresql:5432/postgres?currentSchema=dmat_qa
spark.POSTGRES_DB_SDE_URL jdbc:postgresql://op-postgres-postgresql:5432/postgres?currentSchema=sde
spark.POSTGRES_DB_USER postgres
spark.POSTGRES_DB_PWD pw
spark.ES_HOST_PATH 10.20.40.28
spark.ES_PORT_NUM 9201
spark.DM_USER_DUMMY 10088
spark.DM_USER_HEADLESS 10089

spark.HIVE_HDFS_PATH hdfs://10.20.40.150:8020/apps/hive/warehouse/dmat_logs.db/
spark.HDFS_FILE_DIR_PATH hdfs://10.20.40.150:8020/tmp/oneparser/data/dmat/staging/
spark.HDFS_URI hdfs://10.20.40.150:8020
spark.WRITE_HDFS_URI hdfs://10.20.40.150:8020

spark.HIVE_DB dmat_logs.
spark.TBL_QCOMM_NAME LogRecord_QComm_Ext_D_05052020
spark.TBL_QCOMM2_NAME LogRecord_QComm2_Ext_D_05052020
spark.TBL_B192_NAME LogRecord_B192_Ext_D_05052020
spark.TBL_B193_NAME LogRecord_B193_Ext_D_05052020
spark.TBL_ASN_NAME LogRecord_ASN_Ext_D_05052020
spark.TBL_NAS_NAME LogRecord_NAS_Ext_D_05052020
spark.TBL_IP_NAME LogRecord_IP_Ext_D_05052020
spark.TBL_QCOMM5G_NAME LogRecord_QComm_5G_Ext_D_05052020
spark.FINAL_HIVE_TBL_NAME FinalLogRecord_DMAT
spark.HIVE_MIN_PARTITION 75

spark.SEQ_FILE_DEL FALSE
spark.PROCESS_RM_ONLY FALSE
spark.DETAILED_HIVE_JOB_ANALYSIS FALSE
spark.REPORTS_HIVE_TBL_NAME _D_05052020
spark.PROCESSING_SERVER DEV
spark.PROCESSDMAT_HDFS_WRITE TRUE
spark.FILE_SIZE_LIMIT 5
spark.PROCESS_FILE_TYPE ALL
spark.REPROCESS_FILES TRUE
spark.LOG_GENERAL_EXCEPTION FALSE
spark.FTP_BASE_PATH /ftpdata/
spark.RM_BASE_PATH /ftpdata/
spark.FTP_PROCESSED_PATH /oneparser/processed/
spark.FTP_RM_PROCESSED_PATH /oneparser/processed_dml/

spark.BKP_TBL_QCOMM_NAME BKP_LogRecord_QComm_Ext_2020_MAY_01_10
spark.BKP_TBL_QCOMM2_NAME BKP_LogRecord_QComm2_Ext_2020_MAY_01_10
spark.BKP_TBL_B192_NAME BKP_LogRecord_B192_Ext_2020_MAY_01_10
spark.BKP_TBL_B193_NAME BKP_LogRecord_B193_Ext_2020_MAY_01_10
spark.BKP_TBL_ASN_NAME BKP_LogRecord_ASN_Ext_2020_MAY_01_10
spark.BKP_TBL_NAS_NAME BKP_LogRecord_NAS_Ext_2020_MAY_01_10
spark.BKP_TBL_IP_NAME BKP_LogRecord_IP_Ext_2020_MAY_01_10
spark.BKP_TBL_QCOMM5G_NAME BKP_LogRecord_QComm_5G_Ext_2020_MAY_01_10
spark.BKP_HIVE_START_DATE 2019-05-05
spark.BKP_HIVE_END_DATE 2019-05-10
spark.BKP_ENVIRONMENT DEV_BACKUP

spark.es_cluster_name dmat_es
spark.es_node_id 10.20.40.28
spark.es_port_id 9301
spark.es_cellsite_index cellsite
spark.cellsite_weekly_index_date 2018-07-01

spark.ZOOKEEPER_HOSTS op-zookeeper-cp-zookeeper-headless:2181
spark.BOOTSTRAP_SERVERS op-kafka-cp-kafka-headless:9092
spark.MAX_OFFSETS_PER_TRIGGER 5
spark.STARTING_OFFSETS earliest
spark.KAFKA_GROUP_ID DMAT
spark.INGESTION_KAFKA_TOPIC dlf
spark.NOTIFICATION_KAFKA_TOPIC nservice
spark.PROCESS_PARAM_VALUES_KAFKA_TOPIC processparamvalues
spark.HIVE_KAFKA_TOPIC hiveprocessor
spark.ES_KAFKA_TOPIC elastic
spark.SCHEMA_REGISTRY_URL http://op-avro-schema-cp-schema-registry:8081
spark.PARAM_VALUE_SCHEMA_REGISTRY_ID latest
spark.CHECKPOINT_LOCATION checkpoints
spark.WRITE_SEQ_TO_HDFS_CHECKPOINT_SEGMENT write_seq_to_hdfs
spark.READ_SEQ_TO_HIVE_CHECKPOINT_SEGMENT read_seq_to_hive
spark.PROCESS_DMAT_RECORDS_CHECKPOINT_SEGMENT process_dmat_records
spark.LOG_LEVEL WARN

hive.metastore.client.connect.retry.delay 5
hive.metastore.client.socket.timeout 1800
hive.metastore.uris thrift://10.20.40.150:9083
hive.server2.enable.doAs false
hive.server2.thrift.port 10016
hive.server2.transport.mode binary
spark.sql.warehouse.dir hdfs://10.20.40.150:8020/apps/hive/warehouse/
