spark.seqLimit 12
spark.hiveLimit 12
spark.esLimit 12
spark.seqSleepTime 15000
spark.hiveSleepTime 15000
spark.esSleepTime 15000
spark.timeInterval 72
spark.seqTimeInterval 72
spark.hiveTimeInterval 72
spark.esTimeInterval 72
spark.repartition 2100
spark.writeToHdfsRepartition 1000

spark.CURRENT_ENVIRONMENT PREPROD
spark.POSTGRES_CONN_URL 7W5h6Ek5EhYyvDDj2iD0838cIPReFBwA8Rd/HyutRAkvlatwhRU4KfMA/d5VYFMTG5To9f2QhqBHHY76Egzz6oN+RcXmJPHHDTv+nVUVa9pWIMK7mh58VEaSpJWWCNnC7XPbkNuUs2hSP/VGSVJv3w==
spark.POSTGRES_CONN_SDE_URL 7W5h6Ek5EhYyvDDj2iD0838cIPReFBwA8Rd/HyutRAkvlatwhRU4KfMA/d5VYFMT9LgPwrO52SRNSydqg233EyhjoTu7gRrPtC9WeHkEyXKk4GU4G3i6YIPU7MXqvohwAIY2J+1zniEUy7HnQd5FAerQUNs3MEIqJ37OqcupU20=
spark.POSTGRES_DRIVER org.postgresql.Driver
spark.POSTGRES_DB_URL 7W5h6Ek5EhYyvDDj2iD0838cIPReFBwA8Rd/HyutRAkvlatwhRU4KfMA/d5VYFMTG5To9f2QhqBHHY76Egzz6lPg4dqm8CBQ5KYvJEMzotM=
spark.POSTGRES_DB_SDE_URL 7W5h6Ek5EhYyvDDj2iD0838cIPReFBwA8Rd/HyutRAkvlatwhRU4KfMA/d5VYFMT9LgPwrO52SRNSydqg233EzcTzh7Sq1Ri+tQc5KAqGxE=
spark.POSTGRES_DB_USER lFeBLEC1y5zaYz+BCW0SRQ==
spark.POSTGRES_DB_PWD JBwE4XFbP2ISvZV85SSXMw==
spark.ES_HOST_PATH 10.20.40.28
spark.ES_PORT_NUM 9202
spark.DM_USER_DUMMY 10040
spark.DM_USER_HEADLESS 10094

spark.HIVE_HDFS_PATH hdfs://10.20.40.180:8020/apps/hive/warehouse/dmat_logs.db/
spark.HDFS_FILE_DIR_PATH hdfs://10.20.40.180:8020/oneparser/data/dmat/staging/
spark.HDFS_URI hdfs://10.20.40.180:8020
spark.WRITE_HDFS_URI hdfs://10.20.40.221:9000


spark.HIVE_DB dmat_logs.

spark.TBL_QCOMM_NAME LogRecord_QComm_Ext_PP_08122019
spark.TBL_QCOMM2_NAME LogRecord_QComm2_Ext_PP_08122019
spark.TBL_B192_NAME LogRecord_B192_Ext_PP_08122019
spark.TBL_B193_NAME LogRecord_B193_Ext_PP_08122019
spark.TBL_ASN_NAME LogRecord_ASN_Ext_PP_08122019
spark.TBL_NAS_NAME LogRecord_NAS_Ext_PP_08122019
spark.TBL_IP_NAME LogRecord_IP_Ext_PP_08122019
spark.TBL_QCOMM5G_NAME LogRecord_QComm_5G_Ext_PP_08122019
spark.FINAL_HIVE_TBL_NAME FinalLogRecord_DMAT
spark.HIVE_MIN_PARTITION 75


spark.SEQ_FILE_DEL FALSE
spark.PROCESS_RM_ONLY FALSE
spark.DETAILED_HIVE_JOB_ANALYSIS FALSE
spark.REPORTS_HIVE_TBL_NAME _PP_09242019
spark.PROCESSING_SERVER PREPROD
spark.PROCESSDMAT_HDFS_WRITE TRUE
spark.FILE_SIZE_LIMIT 10
spark.PROCESS_FILE_TYPE ALL
spark.REPROCESS_FILES TRUE
spark.LOG_GENERAL_EXCEPTION FALSE
spark.FTP_BASE_PATH /ftpdata/
spark.RM_BASE_PATH /ftpdata/
spark.FTP_PROCESSED_PATH /oneparser/processed/
spark.FTP_RM_PROCESSED_PATH /oneparser/processed_dml/


spark.BKP_TBL_QCOMM_NAME BKP_LogRecord_QComm_Ext_2019_MAY_16_31
spark.BKP_TBL_QCOMM2_NAME BKP_LogRecord_QComm2_Ext_2019_MAY_16_31
spark.BKP_TBL_B192_NAME BKP_LogRecord_B192_Ext_2019_MAY_16_31
spark.BKP_TBL_B193_NAME BKP_LogRecord_B193_Ext_2019_MAY_16_31
spark.BKP_TBL_ASN_NAME BKP_LogRecord_ASN_Ext_2019_MAY_16_31
spark.BKP_TBL_NAS_NAME BKP_LogRecord_NAS_Ext_2019_MAY_16_31
spark.BKP_TBL_IP_NAME BKP_LogRecord_IP_Ext_2019_MAY_16_31
spark.BKP_TBL_QCOMM5G_NAME BKP_LogRecord_QComm_5G_Ext_2019_MAY_16_31
spark.BKP_HIVE_START_DATE 2019-05-16
spark.BKP_HIVE_END_DATE 2019-05-31
spark.BKP_ENVIRONMENT PREPROD_BACKUP

spark.es_cluster_name dmat_es_pp
spark.es_node_id 10.20.40.28
spark.es_port_id 9302
spark.es_cellsite_index cellsite
spark.cellsite_weekly_index_date 2018-07-08

spark.ZOOKEEPER_HOSTS 127.0.0.1:2181
spark.BOOTSTRAP_SERVERS 127.0.0.1:9092
spark.MAX_OFFSETS_PER_TRIGGER 5
spark.STARTING_OFFSETS earliest
spark.KAFKA_GROUP_ID DMAT
spark.INGESTION_KAFKA_TOPIC logs
spark.NOTIFICATION_KAFKA_TOPIC logsnotification
spark.PROCESS_PARAM_VALUES_KAFKA_TOPIC processparamvalues
spark.HIVE_KAFKA_TOPIC logshive
spark.ES_KAFKA_TOPIC logses
spark.SCHEMA_REGISTRY_URL http://127.0.0.1:8081
spark.PARAM_VALUE_SCHEMA_REGISTRY_ID latest
spark.CHECKPOINT_LOCATION checkpoints
spark.WRITE_SEQ_TO_HDFS_CHECKPOINT_SEGMENT write_seq_to_hdfs
spark.READ_SEQ_TO_HIVE_CHECKPOINT_SEGMENT read_seq_to_hive
spark.PROCESS_DMAT_RECORDS_CHECKPOINT_SEGMENT process_dmat_records
spark.LOG_LEVEL WARN

